In [5]:
import pandas as pd
import numpy as np
 
N=20

df = pd.DataFrame({
    'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
    'x': np.linspace(0,stop=N-1,num=N),
    'y': np.random.rand(N),
    'C': np.random.choice(['Sci','Com','Hum'],N).tolist(),
    'D': np.random.normal(100, 10, size=(N)).tolist()
    })

#for col in df:
#   print(col)
print(df)

            A     x         y    C           D
0  2016-01-01   0.0  0.408119  Sci   87.817293
1  2016-01-02   1.0  0.940625  Com  125.762030
2  2016-01-03   2.0  0.057598  Sci  109.232184
3  2016-01-04   3.0  0.954019  Com   86.615707
4  2016-01-05   4.0  0.280055  Com  114.198476
5  2016-01-06   5.0  0.992560  Com   87.400685
6  2016-01-07   6.0  0.259182  Sci  112.397206
7  2016-01-08   7.0  0.557652  Hum  102.917326
8  2016-01-09   8.0  0.737110  Com   96.413684
9  2016-01-10   9.0  0.297979  Hum  103.180554
10 2016-01-11  10.0  0.576495  Hum   84.436049
11 2016-01-12  11.0  0.590928  Com  111.108966
12 2016-01-13  12.0  0.024514  Com   82.781258
13 2016-01-14  13.0  0.679415  Sci  114.774079
14 2016-01-15  14.0  0.340458  Hum   93.440076
15 2016-01-16  15.0  0.633945  Com   91.030919
16 2016-01-17  16.0  0.776847  Sci   88.708180
17 2016-01-18  17.0  0.509063  Com  106.407175
18 2016-01-19  18.0  0.633167  Hum  101.580153
19 2016-01-20  19.0  0.497566  Hum   84.734890

In [7]:
for i in df.iteritems():
    print(i)

A 0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]
x 0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
y 0     0.408119
1     0.940625
2     0.057598
3     0.954019
4     0.280055
5     0.992560
6     0.259182
7     0.557652
8     0.737110
9     0.297979
10    0.576495
11    0.590928
12    0.024514
13    0.679415
14    0.340458
15    0.633945
16    0.776847
17    0.509063
18    0.633167
19    0.497566
Name: y, dtype: float64
C 0     Sci
1     Com
2     Sci
3     Com
4     Com
5     Com
6     Sci
7     Hum
8     Com
9     Hum
10    Hum
11    Com
12    Com
13    Sci
14    Hum
15    Com
16    Sci
17    Com
18    Hum
19    Hum
Name: C, dtype: object
D 0      87.817293
1     125.762030
2     109.232184
3      86.615707
4     114.198476
5      87.400685
6     112.397206
7     102.917326
8      96.413684
9     103.180554
10     84.436049
11    111.108966
12     82.781258
13    114.774079
14     93.440076
15     91.030919
16     88.708180
17    106.407175
18    101.580153
19     84.734890
Name: D, dtype: float64

In [9]:
for i,j in df.iteritems():
    print(i,j)

A 0    2016-01-01
1    2016-01-02
2    2016-01-03
3    2016-01-04
4    2016-01-05
5    2016-01-06
6    2016-01-07
7    2016-01-08
8    2016-01-09
9    2016-01-10
10   2016-01-11
11   2016-01-12
12   2016-01-13
13   2016-01-14
14   2016-01-15
15   2016-01-16
16   2016-01-17
17   2016-01-18
18   2016-01-19
19   2016-01-20
Name: A, dtype: datetime64[ns]
x 0      0.0
1      1.0
2      2.0
3      3.0
4      4.0
5      5.0
6      6.0
7      7.0
8      8.0
9      9.0
10    10.0
11    11.0
12    12.0
13    13.0
14    14.0
15    15.0
16    16.0
17    17.0
18    18.0
19    19.0
Name: x, dtype: float64
y 0     0.408119
1     0.940625
2     0.057598
3     0.954019
4     0.280055
5     0.992560
6     0.259182
7     0.557652
8     0.737110
9     0.297979
10    0.576495
11    0.590928
12    0.024514
13    0.679415
14    0.340458
15    0.633945
16    0.776847
17    0.509063
18    0.633167
19    0.497566
Name: y, dtype: float64
C 0     Sci
1     Com
2     Sci
3     Com
4     Com
5     Com
6     Sci
7     Hum
8     Com
9     Hum
10    Hum
11    Com
12    Com
13    Sci
14    Hum
15    Com
16    Sci
17    Com
18    Hum
19    Hum
Name: C, dtype: object
D 0      87.817293
1     125.762030
2     109.232184
3      86.615707
4     114.198476
5      87.400685
6     112.397206
7     102.917326
8      96.413684
9     103.180554
10     84.436049
11    111.108966
12     82.781258
13    114.774079
14     93.440076
15     91.030919
16     88.708180
17    106.407175
18    101.580153
19     84.734890
Name: D, dtype: float64

In [12]:
for i,j in df.iterrows():
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [13]:
for i,j in df.iterrows():
    print(j)

A    2016-01-01 00:00:00
x                      0
y               0.408119
C                    Sci
D                87.8173
Name: 0, dtype: object
A    2016-01-02 00:00:00
x                      1
y               0.940625
C                    Com
D                125.762
Name: 1, dtype: object
A    2016-01-03 00:00:00
x                      2
y              0.0575978
C                    Sci
D                109.232
Name: 2, dtype: object
A    2016-01-04 00:00:00
x                      3
y               0.954019
C                    Com
D                86.6157
Name: 3, dtype: object
A    2016-01-05 00:00:00
x                      4
y               0.280055
C                    Com
D                114.198
Name: 4, dtype: object
A    2016-01-06 00:00:00
x                      5
y                0.99256
C                    Com
D                87.4007
Name: 5, dtype: object
A    2016-01-07 00:00:00
x                      6
y               0.259182
C                    Sci
D                112.397
Name: 6, dtype: object
A    2016-01-08 00:00:00
x                      7
y               0.557652
C                    Hum
D                102.917
Name: 7, dtype: object
A    2016-01-09 00:00:00
x                      8
y                0.73711
C                    Com
D                96.4137
Name: 8, dtype: object
A    2016-01-10 00:00:00
x                      9
y               0.297979
C                    Hum
D                103.181
Name: 9, dtype: object
A    2016-01-11 00:00:00
x                     10
y               0.576495
C                    Hum
D                 84.436
Name: 10, dtype: object
A    2016-01-12 00:00:00
x                     11
y               0.590928
C                    Com
D                111.109
Name: 11, dtype: object
A    2016-01-13 00:00:00
x                     12
y              0.0245139
C                    Com
D                82.7813
Name: 12, dtype: object
A    2016-01-14 00:00:00
x                     13
y               0.679415
C                    Sci
D                114.774
Name: 13, dtype: object
A    2016-01-15 00:00:00
x                     14
y               0.340458
C                    Hum
D                93.4401
Name: 14, dtype: object
A    2016-01-16 00:00:00
x                     15
y               0.633945
C                    Com
D                91.0309
Name: 15, dtype: object
A    2016-01-17 00:00:00
x                     16
y               0.776847
C                    Sci
D                88.7082
Name: 16, dtype: object
A    2016-01-18 00:00:00
x                     17
y               0.509063
C                    Com
D                106.407
Name: 17, dtype: object
A    2016-01-19 00:00:00
x                     18
y               0.633167
C                    Hum
D                 101.58
Name: 18, dtype: object
A    2016-01-20 00:00:00
x                     19
y               0.497566
C                    Hum
D                84.7349
Name: 19, dtype: object

In [14]:
for i in df.itertuples():
    print(i)

Pandas(Index=0, A=Timestamp('2016-01-01 00:00:00'), x=0.0, y=0.4081189633008546, C='Sci', D=87.8172933766645)
Pandas(Index=1, A=Timestamp('2016-01-02 00:00:00'), x=1.0, y=0.9406253490905442, C='Com', D=125.76202994386615)
Pandas(Index=2, A=Timestamp('2016-01-03 00:00:00'), x=2.0, y=0.05759783506629956, C='Sci', D=109.23218420666413)
Pandas(Index=3, A=Timestamp('2016-01-04 00:00:00'), x=3.0, y=0.9540186526381813, C='Com', D=86.61570723341106)
Pandas(Index=4, A=Timestamp('2016-01-05 00:00:00'), x=4.0, y=0.28005531351842317, C='Com', D=114.19847628595916)
Pandas(Index=5, A=Timestamp('2016-01-06 00:00:00'), x=5.0, y=0.9925601047000003, C='Com', D=87.4006853713407)
Pandas(Index=6, A=Timestamp('2016-01-07 00:00:00'), x=6.0, y=0.2591823031273698, C='Sci', D=112.3972059867048)
Pandas(Index=7, A=Timestamp('2016-01-08 00:00:00'), x=7.0, y=0.5576517758651794, C='Hum', D=102.9173260014303)
Pandas(Index=8, A=Timestamp('2016-01-09 00:00:00'), x=8.0, y=0.737109812904322, C='Com', D=96.41368447444822)
Pandas(Index=9, A=Timestamp('2016-01-10 00:00:00'), x=9.0, y=0.2979787116473822, C='Hum', D=103.18055419293056)
Pandas(Index=10, A=Timestamp('2016-01-11 00:00:00'), x=10.0, y=0.5764950327752313, C='Hum', D=84.4360490738584)
Pandas(Index=11, A=Timestamp('2016-01-12 00:00:00'), x=11.0, y=0.5909283549002827, C='Com', D=111.10896625210843)
Pandas(Index=12, A=Timestamp('2016-01-13 00:00:00'), x=12.0, y=0.024513883100309553, C='Com', D=82.78125751002271)
Pandas(Index=13, A=Timestamp('2016-01-14 00:00:00'), x=13.0, y=0.6794145393626806, C='Sci', D=114.7740789829071)
Pandas(Index=14, A=Timestamp('2016-01-15 00:00:00'), x=14.0, y=0.34045832945853727, C='Hum', D=93.44007582701128)
Pandas(Index=15, A=Timestamp('2016-01-16 00:00:00'), x=15.0, y=0.633944843259638, C='Com', D=91.03091854455957)
Pandas(Index=16, A=Timestamp('2016-01-17 00:00:00'), x=16.0, y=0.7768473884710282, C='Sci', D=88.70817962291176)
Pandas(Index=17, A=Timestamp('2016-01-18 00:00:00'), x=17.0, y=0.5090627991280667, C='Com', D=106.40717536357303)
Pandas(Index=18, A=Timestamp('2016-01-19 00:00:00'), x=18.0, y=0.6331669247035183, C='Hum', D=101.5801525201165)
Pandas(Index=19, A=Timestamp('2016-01-20 00:00:00'), x=19.0, y=0.49756604021334905, C='Hum', D=84.73489016251139)

In [6]:
import pandas as pd
import numpy as np
 
N=int(input("Enter the number\n"))

df = pd.DataFrame({
    'S.No': np.arange(1,11),
    'N': [N]*10,
    'x': ['x']*10,
    'i': [i for i in range(1,11)],
    #'Nxi': [N*i for i in range(1,11)]
    })
print(df)
df.loc[:,'Nxi']=df['N]*df['i']
print(df)

SyntaxError: invalid syntax (<ipython-input-6-07a06158a984>, line 14)

In [10]:
str=input("Enter a string\n")
print(''.join(s[0].upper()+'.' for s in str.split()))
#l1=str.split()
#print(l1)

Enter a string
Ek naya string.enter kiya
E.N.S.K.